@font-face {
    font-family: 'Test Manuka';
    src: url('/fonts/TestManuka-Bold.woff2') format('woff2'),
        url('/fonts/TestManuka-Bold.woff') format('woff'),
        url('/fonts/TestManuka-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
}
