/* settings
---------------------------------------------------------------------------------------------------------------------- */
$max-width: 1440px;

/* fonts
---------------------------------------------------------------------------------------------------------------------- */
$font-mark: 'Mark Offc For MC', sans-serif;
$font-test-manuka: 'Test Manuka', sans-serif;
$font-plantin: 'Plantin MT Pro', serif;
$font-graphik: 'Graphik', sans-serif;
$font-default: $font-plantin;

/* normalize
---------------------------------------------------------------------------------------------------------------------- */
$base-unit: 'rem';
$base-font-size: 16px;
$base-line-height: 24px;
$base-font-family: $font-default;


/* z layers
---------------------------------------------------------------------------------------------------------------------- */
$z-layers: (
    1: 100,
    2: 200,
    3: 300,
    4: 400,
    5: 500,
    6: 600,
    7: 700,
    8: 800,
    9: 900,
    10: 1000,
    behind: -1,
    infront: 99999999999,
);

@function z-layer($key) {
    @return map-get($z-layers, $key);
}